<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodfor.web.board.BoardMapper">
	

	<select id="selectBoardAllCount" resultType="int" parameterType="string">
		SELECT COUNT(*)	COUNT FROM BOARD WHERE CTYPE LIKE #{value}
	</select>
	
	<select id="selectAllBoardFAQ" resultType="Board"
		parameterType="PageProxy">
		SELECT A.*
		FROM (SELECT * FROM BOARD 
		ORDER BY SEQ DESC LIMIT #{startRow}, #{pageSize}) A
		WHERE CTYPE LIKE #{ctype}
	</select>
	
	<select id="selectAllBoardCustomer" resultType="Board"
		parameterType="PageProxy">
		SELECT A.*
		FROM (SELECT * FROM BOARD 
		ORDER BY SEQ DESC LIMIT #{startRow}, #{pageSize}) A
		WHERE CTYPE LIKE #{ctype}
	</select>
	
	<select id="selectAllBoardNotice" resultType="Board"
		parameterType="PageProxy">
		SELECT A.*
		FROM (SELECT * FROM BOARD 
		ORDER BY SEQ DESC LIMIT #{startRow}, #{pageSize}) A
		WHERE CTYPE LIKE #{ctype}
	</select>
	
	<insert id="insertBoardWrite" parameterType="Board">
		INSERT INTO
		BOARD(title, content, writer, ctype)
		VALUES (#{title},#{content}, #{writer}, #{ctype})
	</insert>	
		
	<select id="selectBoardRead" parameterType="int"
		resultType="Board">
		SELECT * FROM BOARD WHERE SEQ LIKE #{seq}
		
	</select>

	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET TITLE =	#{title}, CONTENT = #{content}
		WHERE SEQ LIKE #{seq}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE SEQ LIKE #{seq}
	</delete>

	<select id="listPage" resultType="Board"
		parameterType="PageProxy">
		select * from board order by seq desc limit #{pageSize}
	</select>
	</mapper>